! PaperColor Theme

*foreground: #4D4D4C
*background: #EEEEEE

*cursorColor: #969694
! black
*color0: #d5d5d5
*color8: #969694

! red
*color1: #D7005F
*color9: #D7005F

! green
*color2: #718C00
*color10: #718C00

! yellow / orange
*color3: #D75F00
*color11: #D75F00

! blue
*color4: #4271AE
*color12: #4271AE

! magenta
*color5: #8959A8
*color13: #8959A8

! cyan
*color6: #3E999F
*color14: #3E999F

! white
*color7: #4D4D4C
*color15: #CAB2B2

!meme
*color66: #EEEEEE

!URxvt.font: xft:Fira Mono:pixelsize=14,style=regular
!urxvt.font: xft:DejaVuSansMono:pixelsize=13
!urxvt.font: xft:DejaVuSansMono:pixelsize=14
urxvt.font: xft:monaco:style=Regular:antialias=true:size=11
!URxvt.font: xft:Dina:regular:pixelsize=13
!URxvt.boldFont: xft:Dina:bold:pixelsize=13
!URxvt.font: xft:Monaco:regular:antialias=true:pixelsize=12
!Scrollbar
Urxvt.scrollStyle:rxvt
URxvt.scrollBar: false
urxvt*perl-lib:            /usr/lib/urxvt/perl/
urxvt*perl-ext-common:        default,matcher
urxvt*urlLauncher:        /usr/bin/firefox
urxvt*matcher.button:        1
urxvt*matcher.pattern.1:   \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

rofi.padding : 20
rofi.font: Roboto Light 20
!rofi.fullscreen : true
rofi.display-drun:
rofi.display-window: win
rofi.display-combi: myprompt
!URxvt.depth: 32
Xcursor.theme: Breeze_Light

!dwm
