! PaperColor Theme

*foreground: #4D4D4C
*background: #EEEEEE

*cursorColor: #969694
! black
*color0: #d5d5d5
*color8: #969694

! red
*color1: #D7005F
*color9: #D7005F

! green
*color2: #718C00
*color10: #718C00

! yellow / orange
*color3: #D75F00
*color11: #D75F00

! blue
*color4: #4271AE
*color12: #4271AE

! magenta
*color5: #8959A8
*color13: #8959A8

! cyan
*color6: #3E999F
*color14: #3E999F

! white
*color7: #4D4D4C
*color15: #CAB2B2

!meme
*color66: #EEEEEE

!URxvt.font: xft:Fira Mono:pixelsize=14,style=regular
!urxvt.font: xft:DejaVuSansMono:pixelsize=13
!urxvt.font: xft:DejaVuSansMono:pixelsize=14
urxvt.font: xft:monaco:style=Regular:antialias=true:size=11
!URxvt.font: xft:Dina:regular:pixelsize=13
!URxvt.boldFont: xft:Dina:bold:pixelsize=13
!URxvt.font: xft:Monaco:regular:antialias=true:pixelsize=12
!Scrollbar
Urxvt.scrollStyle:rxvt
URxvt.scrollBar: false
urxvt*perl-lib:            /usr/lib/urxvt/perl/
urxvt*perl-ext-common:        default,matcher
urxvt*urlLauncher:        /usr/bin/firefox
urxvt*matcher.button:        1
urxvt*matcher.pattern.1:   \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

!Rofi simple, small top window
!rofi.font: dina\ 8
!rofi.color-enabled: true
!rofi.color-window: #2d2d2d, #2d2d2d, #268bd2
!rofi.color-normal: #2d2d2d, #ffffff, #2d2d2d, #268bd2, #ffffff
!rofi.color-active: #2d2d2d, #268bd2, #2d2d2d, #268bd2, #205171
!rofi.color-urgent: #2d2d2d, #f3843d, #2d2d2d, #268bd2, #ffc39c
rofi.width: 1366
rofi.lines: 5
rofi.location: 2
rofi.yoffset: 13
rofi.xoffset: 0
rofi.opacity: 92
!URxvt.perl-ext-common: default,matcher
!URxvt.url-launcher: /usr/bin/chromium
!URxvt.matcher.button: 1

rofi.color-enabled: true
! first two color-window were a013191c
! a6 = 65% amount of black needed over white for white to be a 7 contrast score
! b3 = 70%
! 80 = 50%
rofi.color-window: argb:a6000000, argb:a6000000, argb:0000000
rofi.color-normal: argb:0fdf6e3, #ffffff, argb:0eee8d5, #009688, #ffffff
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
rofi.line-margin: 18
rofi.padding : 20
rofi.font: Roboto Light 20
!rofi.fullscreen : true
rofi.display-drun:
rofi.display-window: win
rofi.display-combi: myprompt
!URxvt.depth: 32
